.toifalarSy {
    width: 1220px;
    height: 580px;
    margin-left: 280px;
    margin-top: 120px;
    position: relative;
}

.toifaAddBtn {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 40px;
    background-color: #01384D;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: 18.29px;
    font-family: "Montserrat", sans-serif;
    border-radius: 8px;
    position: absolute;
    bottom: -40px;
    right: 0;
    cursor: pointer;
}

.toifatable {
    height: 580px;
    overflow-y: auto;
}

.toifatable::-webkit-scrollbar {
    width: 3px;
    background-color: #01374d3e;
}

.toifatable::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: #01384D;
    border-radius: 20px;
}

#toifsTabele {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
    border-right: 2px solid #01374d31;
    border-left: 2px solid #01374d31;
}

#toifsTabele th {
    background-color: #01384D;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    margin: 0;
    padding: 21px 10px 0 25px;
    font-size: 15px;
    font-weight: 600;
    line-height: 18.29px;
    font-family: "Montserrat", sans-serif;
}



#toifsTabele td {
    width: 100%;
    padding: 13px 25px;
    border-bottom: 2px solid #01374d31;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.btnBox {
    display: flex;
    align-items: center;
}

.toifabtns {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.edit {
    background-color: #E6EBED;
    margin-right: 10px;
}

.delete {
    background-color: #FBE9E9;
}

.toifaEditIcon {
    font-size: 18px;
}

.toifaDeleteIcon {
    font-size: 18px;
    color: #D61F1F;
}