.zoommodaldiv {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #ffffff56;
  z-index: 10000;
  backdrop-filter: blur(10px);
  display: none;
  align-items: center;
  justify-content: center;
}

.zoommodals {
  width: 500px;
  height: 400px;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background: #000;
  color: #000;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.zoommodaclosebtn {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 100;
  right: 0;
  cursor: pointer;
}

.zoommodalCloseIcon {
  font-size: 30px;
  color: rgba(255, 0, 0, 0.553);
}

.showZoomModal {
  display: flex;
}